*{
    margin: 0;
    padding: 0;        
    text-decoration: none;
}


/*paddings*/

.normal-padding{
    padding: 0px 30px;
}

/*special animations*/

.fixed-top{
    position: fixed;
    top: 0;
}

/*navigation bar*/

nav{    
    width: 100%;
    height: 60px;   
    display: flex;    
    max-width: 100% !important;
    box-shadow: 10px 10px 10px rgba(0,0,0,.4);    
}

.nav-container{
    width: 100%;
    display: flex;    
    justify-content: space-between;
}


/*logos*/

.icon-logo{
    width: 50px;
    height: 100%;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.icon-logo a{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.icon-logo img{
    width: 100%;
    max-width: 50px;
}

/*menus*/


/*mobile menu*/
.mobile-menu{    
    height: 60px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu i{
    font-size: 30px;
    color: white;    
}

.mobile-logo{    
    width: 100%;
    height: max-content !important;
    justify-content: center;    
}

.mobile-logo i{
    font-size: 190px;
}

.mobile-logo img{
    width: 80%;
    margin-bottom: 30px;
    border-radius: 130px;
}

/*options menu*/
.menu-options-row{    
    height: 100%;    
    display: flex;    
    list-style: none;            
    justify-content: space-between;
}

.menu-options-row li{
    height: 100%;
    display: flex;    
    margin-right: 15px;
    align-items: center;
    justify-content: center;    
}

.container-sidenav{    
    width: 100%;
    height: 100vh;
    position: fixed;
    left: -100%;    
    background-color: rgba(0,0,0,.7);        
    opacity: 0;
    top: 0;
    -webkit-transition: all .6s ease;
}

.sidenav{    
    width: 270px;
    height: 100vh;
    position: absolute;
    padding-top: 50px;    
}

.sidenav li {
    width: 100%;
    height: 40px;    
    display: flex;    
}

.sidenav li a{
    width: 100%;
    display: flex;    
    padding-left:40px ;
    align-items: center;
    text-decoration: none; 
    -webkit-transition: all .4s ease;   
}



.sidenav li a i{
    margin-right: 10px;    
}

.menu-options-row li a{    
    height: 100%;
    display: flex;        
    padding: 0px 5px;
    align-items: center;
    text-decoration: none;
    justify-content: center;    
}

.menu-options-row a i{
    margin-right: 5px;
}

.menu-options-row a:hover, .sidenav li a:hover{
    background-color: rgba(255,255,255,.2);
}



/*backgorund colors*/
.green-dark-4{
    background-color: green;
}


.bluegrey-dark-4{
    background-color: #212121 ;
}
.grey-dark-4{
    background-color: #263238 ;
}

.green-light-1{
    background-color: #66bb6a;
}

/*text colors*/

.white-text-color{
    color: white;
}

.green-dark-4-text-color{
    color: green;
}

/*alignments*/

.center{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.justify{
    text-align: justify;
}

/*lists*/

.super-list{
    margin: 25px 0px;
    list-style: decimal;
}

/*footer*/

footer{
    height: 250px;
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer-item-col{
    display: flex;    
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer-item-col > div
{
    margin: 3px 0px;
}

/*columns array*/

.columns-row{
    display: flex;
    justify-content: space-around;
}

.col-2{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*responsive mode*/


.btn-radio-style{
    width: 250px;
}

.green-btn{
    background-color: green;
    color: white;
    height: 50px;
    font-size: 20px;
}

/*fonts styles*/

.principal-title{
    font-size: 50px;    
    margin-top: 90px;
}

/*galleries*/

.container-simple-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-simple-gallery img{
    width: 33%;
    min-width: 270px;
    margin: 15px 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.7);
}
/*carrousel*/

.carrousel-container{
    position: relative;    
    display: flex;
    flex-direction: row;    
    overflow: hidden;
    background-color: rgba(0,0,0,.03);
    
}

.carrousel-item{
    min-width: 100%;
    height: 100%;    
    display: flex;    
    position: absolute;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px rgba(0,0,0,.2);
    -webkit-transition: all .4s ease;        
}

.control-prev{
    left: 0;
    color: gray;
    font-size: 50px;    
    position: absolute;        
    cursor: pointer;
    text-shadow: 10px 10px 10px rgba(0,0,0,.7);
    z-index: 10;
}

.control-next{  
    z-index: 10;  
    right: 0;
    color: gray;
    font-size: 50px;    
    position: absolute;        
    cursor: pointer;
    text-shadow: 10px 10px 10px rgba(0,0,0,.7);
}

@media(max-width:900px){
    .icon-logo{
        width: 100%;        
    }

    .mobile-menu{
        display: flex;
    }

    .menu-options-row{
        display: none;
    }

    footer{
        height: 450px;
        flex-direction: column;
    }

    .footer-item-col{
        width: 80%;
        margin-top: 50px 0px;        
        border-bottom: 2px solid white;
    }

    .container-simple-gallery img{
        width: 90%;        
    }
}