
.margen{
    padding: 0px 70px;
}

nav ul li a{
    display: flex;
    flex-direction: row;
}

nav ul li a i{
    margin: 0px 5px 0px 0px;
}

.brand-logo img{
    width: 50px;
    margin: 7px 0px;
}

.landing{
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(to right,rgba(0,0,0,.063),rgba(66,134,244,.603)),url('../img/fondo.jpg')
}

.landing-aportaciones{
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(to right,rgba(0,0,0,.063),rgba(66,134,244,.603)),url('../img/fondo.jpg')
}

.aportacion{
    margin-top: 100px;
    display: flex;
    width: 100%;    
}

.aportacion>div{    
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumen,.demo{
    display: flex;
    flex-direction: column;
}

.content-landing{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.5);
    color: white
}

.content-landing .nombre{
    font-size: 70px;
    width: 100%;
    text-align: center;
}

.content-landing .actividades{
    display: flex;
    width: 100%;
    justify-content: center;    
}

.content-landing .actividades div{
        padding: 3px 20px;
}

div.actividad-item{
    border-right: 3px solid white;
}


.sidenav img{
    width: 60%;
    margin: 30px 20%;
}


/**/

.contenedor{
    display: flex;    
    align-items: center;
    justify-content: center;
}


.about{
    display: flex;
    flex-direction: row;
    margin: 90px 0px;
    width: 100%;
}

.about > div{    
    width: 100%;
} 

.about .semblanza{
    width: 100%;
    display: flex;    
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    box-shadow: -10px 10px 10px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.1);    
}    

.about .imagen{
    display: flex;    
    justify-content: center;
    align-items: center;
    position: relative;     
    
}

.about .imagen img{
    position: absolute;    
    width: 60%;
    border-radius: 360px;    
}
.content-list{
    width: 100%;
    display: flex;
    justify-content:space-around;
}

.content-list li{
    text-align: start;
}

.content-list li i{
    position: relative;
    top: 5px;
}

.titulo{
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.informacion{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.contenedor-informacion{
    height: 350px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    
}

.titulo-contenido{
    font-weight: bold;
    font-size: 50px;
}

.swiper-button-prev{
    position: absolute;
    left: 150px;
}

.nota{
    display: none;
    text-align: center;
    font-style: italic;
}

footer{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.temas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;    
    margin-bottom: 10px;
}

.temas select{
    -webkit-appearance: none;
    border: 1px solid black;
    width: 250px;
    height: 30px;
    font-family: 'Comic Neue';    
}

footer>div{
    text-align: center;
    margin: 35px 0px;
}

footer div div{
    margin: 10px 0px;
}

footer .titulo-col{
    font-size: 20px;
}

footer .contenido-col{
    font-size: 16px;
}

footer a{
    color: white;
    text-decoration: none;
}

@media(max-width:1000px){
    .margen{
        padding: 0px 10px;
    }
    
    .content-landing .nombre{
        font-size: 40px;
    }
}

@media(max-width:800px){
    
    .about{        
        flex-direction: column;
    }
        
    .nota{
        display: block;
    }
    
    .informacion{
        flex-direction: column;
    }
    
    .contenedor-informacion{
        width: 100%;
    }
    
    .about .imagen{
        height: 300px;
    }
    
    .aportacion{
        display: flex;        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .aportacion>div{
        width: 100%;
        text-align: center;
    }
    
    .demo{
        margin-top: 50px;
    }
}


@media(max-width:650px){
    .content-landing .nombre{
        font-size: 20px;
    }
    
    .content-landing .actividades{
        margin-top: 30px;
        flex-direction: column;
        text-align: center;
    }
    
    .content-landing .actividades div{     border: none;
        padding: 3px 2px;
        font-size: 10px
    }
    
    footer{
        display: flex;
        flex-direction: column;
    }
    
    footer>div
    {
        margin: 0;
        border-bottom: 2px solid white;
    }
}

